body {
    background-color: white;
    color: black;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    overflow-x:hidden;
    padding-top: 50px;
}

sub {
    font-size: 10px;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
    
}

strike {
    opacity: 0.7;
    font-size: 10px;
}

div.welcome {
    display: block;
    margin-left: 40%;
    margin-right: auto;
    text-align: center;
    width: auto;
    height: auto;
    
}

div.cube {
    
    text-align: center;
    padding: 10px;
}


a.button {
    display: inline-block; 
    padding: 5px;
    background-color: black;
    color: white;
    text-decoration: none;
    opacity: 0.7;
    border: 2px solid white;
    width: 500px;
    transition: all 0.2s ease;
}

a.navbutton {
    display: inline-block;
    font-size: large;
    padding: 5px;
    background-color: black;
    color: white;
    text-decoration: none;
    opacity: 0.7;
    border: 2px solid white;
    width: 200px;
    height: 50px;
    transition: all 0.2s ease;
    justify-content: center;
    align-items: center;
}

a.button:hover, a.navbutton:hover {
    display: inline-block; 
    background-color: grey;
    opacity: 1;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
}

hr {
    margin-top: 10px;
    background-color: black;
    border: 1px solid black;
    width: 75%;
}

.Centered
{
    vertical-align: middle;
    display: inline-block;
}

.Centerer
{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}